{{ template "header" . }}
    <!-- user profile -->
    {{ with .Data }}
        <div class="row user">
        <div class="col-sm-1">user:</div> 
        <div class="col-sm-11 username">{{.User.Username}}</div> 
        <div class="col-sm-1">created:</div> 
        <div class="col-sm-11">{{.User.Created}}</div> 
        <div class="col-sm-1">karma:</div> 
        <div class="col-sm-11">{{.User.Karma}}</div> 
        <div class="col-sm-offset-1"><a href="/submitted?id={{.User.ID}}">Stories</a></div> 
        <div class="col-sm-offset-1"><a href="/comments/?author_id={{.User.ID}}">Comments</a></div> 
        </div>
    {{ end }}
{{ template "footer" . }}