/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
/* / */
ol.threads{
	padding-left: 15px;
}

body{
	font-family: 'Open Sans',Verdana,sans-serif;
}
.thread-header{
	margin-bottom:30px;
}

.children{
	margin-left:20px;
}

.comments{
	margin-bottom: 20px;
}