{{ define "header" }}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{{ block "css" . }}
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
		crossorigin="anonymous">
	<link rel="stylesheet" href="/public/css/styles.css" /> 
	<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	{{ end }}
	{{ block "scripts" . }}
	<title>{{ .Environment.Description.Title }} - {{ or .Data.Title .Environment.Description.Slogan }}</title>
	<!-- scripts -->{{ end }}
</head>

<body>
	{{ block "navigation" . }}
	<!-- navigation -->
	<nav class="navbar navbar-default">
		<section class="container">
			<div class="navbar-header">
				<a href="/" class="navbar-brand">{{.Environment.Description.Title}}</a>
			</div>
			<div class="navbar-collapse collapse">
				<!-- nav left -->
				<ul class="nav navbar-nav navbar-left">
					<li><a href="/newest">newest</a></li>					
					<li class="navbar-text">|</li>
					<li><a href="/newcomments">comments</a></li>
					<li class="navbar-text">|</li>
					<li><a href="/submit">submit</a></li>
					{{ block "submitted" . }}
					{{ end }}
				</ul>
				<ul class="nav navbar-nav navbar-right">
					{{ with .Environment.CurrentUser }}
					<li class="current-user"><a href="/user?id={{.ID}}">{{.Username}} ({{.Karma}})</a></li>
					<li class="navbar-text"> | <li>
					<form class="navbar-form" action="/logout" method="POST">
					<input type="submit" value="logout" class="btn btn-link"/>
					</form>
					<li>
					{{ else }}
					<li class="login"><a href="/login">Login</a></li>
					{{ end }}
				</ul>
			</div>
		</section>
	</nav>
	{{ end }}
	<main class="container">
		<div class="row">
			<div class="col-md-12">
			{{ with .Environment.FlashMessages }}
				<ul class="list-unstyled flash-messages">
				{{ range  $key,$messages := . }}
					{{ with $messages }}
						{{ range $message := $messages }}
							<li class="flash-{{$key}} text-{{$key}}">{{$message}}</li>
						{{ end }}
					{{ end }}
				{{ end }}
				<ul>
			{{ end }}
			</div>
		</div>
{{ end}}

{{/* 

FOOTER 

*/}}
{{ define "footer" }}
	</main>
	<footer class="container">
		{{if IsDebug}}
			<hr>
			<div>Debugging informations</div>
			<h3>Data</h3>
			<pre><code>{{ .Data | ToJson }}</code></pre>
			<h3>Request</h3>
			<pre>{{.Environment.Request}}</pre>
			<h3>Environment</h3>
			<pre><code>{{ .Environment | ToJson }}</code></pre>
		{{- end }}
	</footer>
</body>

</html>
{{end}}